* {
	font-family: 'poppins', sans-serif;
}

body {
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	color: #d02ff0;
	flex-direction: column;
	margin: 0;
	background-size: 400% 400%;
}
p{
	margin: 5px 0px 0px  0px;
	padding: 5px 25px;
	font-size: xx-large;
	font-family: fangsong;
}
